.marketCard__link {
  background-color: #be1599;
  color: #fff8fa;
  border-radius: 10px;
  padding: 7%;
  text-decoration: none;
  color: #fff8fa;
  box-shadow: -2px 2px 11px 1px grey;
}

.marketCard {
  border: 6px inset #be1599;
  margin: 3% 0% 0% 3%;
  width: 85%;
}

@media only screen and (max-width: 600px) {
  .marketCard__link {
    margin: 1%;
    font-size: 12px;
    margin-left: -40px;
  }
}

.marketCard__a {
  position: absolute;
  margin-left: 85%;
  margin-top: 1%;
  width: 20%;
}
@media only screen and (max-width: 600px) {
   
}
